---
import FormattedDate from './FormattedDate.astro'

const {post} = Astro.props;
---

<div class="border rounded hover:border-blue-700 hover:text-blue-600">
    <div class="bg-slate-50 text-wrap"><a href={`/posts/${post.slug}/`} title="description">{post.data.title}</a></div>
    <div class="flex justify-between border border-dashed text-xs font-thin italic">
        <div> <FormattedDate date={post.data.pubDate}/></div>
        <div>{post.data.author}</div>
    </div>
</div>
